.hero__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}
.hero__content{
    width: 52%;
    display: flex;
    flex-direction: column;
    gap: 1.9rem;
    margin-left: 4rem;
}
.hero__banner{
    width: 46%;
    margin-top: 1.5rem;
    margin-right: 3rem;
}
.hero__content h2{
    width: 72%;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
}
.hero__content p{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(82, 80, 80, 0.944);
    width: 70%;
    line-height: 1.5;
    word-spacing: 0.02rem;
}
#cta__btn{
    width: 31.4%;
    padding: 0.8rem 0.5rem;
    font-size: 1.27rem;
}
.banner{
    width: 100%;
}
@media screen and (max-width: 1100px) {
    /* .hero__content h2{
        font-size: 2.5rem;
        width: 83%;
    }
    .hero__content p{
        width: 88%;
    } */
    .hero__container{
        flex-direction: column;
        align-items: center;
    }
    .hero__content{
        width: 80%;
        margin-left: 0;
    }
    .hero__content h2{
        width: 85%;
        font-size: 2.5rem;
    }
    .hero__content p{
        width: 100%;
    }

    
}