.header__section{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 3rem;
    align-items: center;
    font-family: var(--home--font);
    font-size: 1.17rem;
    font-weight:500;
}
.app__logo{
    width: 133px;
}
.menu__icon{
    width: 38px;
}
.nav__list{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}
.nav__list li a{
    text-decoration: none;
    color: #1c1c1c;
    padding-bottom: 0.5rem;
    transition: 0.3s all ease-in-out;
}
.nav__list li a:after{
    display: block;
    content: '';
    border-bottom: solid 1px #1c1c1c;
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
}
.nav__list li a:hover::after {
    transform: scaleX(1);
  }
.profile__btn{
    display: flex;
    gap: 1.5rem;
}
.login__btn, .getstarted__btn{
    font-size: 1rem;
    font-family: var(--home--font);
    letter-spacing: 0.001rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.login__btn{
    border: 1px solid #1c1c1c;
    background-color: #ffffff;
    padding: 0.6rem 0.8rem;
}
.login__btn:hover{
    background-color: #e4e4e28b;
}
.getstarted__btn{
    border: none;
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 0.6rem 0.95rem;
}
.getstarted__btn:hover{
    background-color: #1c1c1ccc;
}
.menu__icon{
    display: none;
}
@media screen and (max-width: 800px) {
    .header__section{
        padding: 0.4rem 1rem;
    }
    .nav__bar{
        display: none;
    }
    .login__btn{
        display: none;
    }
    .menu__icon{
        display: block;
    }
    .getstarted__btn{
        font-size: 0.88rem;
        padding: 0.4rem 0.7rem;
        display: none;
    }

    
}