.header__section{
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 3.2rem;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: #ffffff3f;
    position: sticky;
    top: 0;
}
.app__logo{
    width: 130px;
}
.menu__icon{
    width: 30px;
}
.nav__container{
    display: flex;
    align-items: center;
    gap: 5.5rem;
}
.nav__list{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}
.nav__list li a{
    text-decoration: none;
    color: #1c1c1c;
    padding-bottom: 0.5rem;
    cursor: url(../../assets/images/pointer.svg), auto;
}
.nav__list li a:after{
    display: block;
    content: '';
    border-bottom: solid 1px #1c1c1c;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
.nav__list li a:hover::after {
    transform: scaleX(1);
  }
.profile__btn{
    display: flex;
    gap: 1.5rem;
}
.login__btn, .getstarted__btn{
    font-size: 1rem;
    font-family: var(--home--font);
    letter-spacing: 0.001rem;
    font-weight: 500;
    cursor: url(../../assets/images/pointer.svg), auto;
    transition: 0.4s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 8px;
}
.login__btn{
    border: 1px solid #1c1c1c;
    background-color: #ffffff;
    padding: 0.6rem 0.8rem;
}
.login__btn:hover{
    /* background-color: #e4e4e28b; */
    border-radius: 0;
}
.getstarted__btn{
    border: none;
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 0.6rem 0.95rem;
    border-radius: 8px;
}
.getstarted__btn:hover{
    /* background-color: #1c1c1ccc; */
    border-radius: 0;
}
.menu__icon{
    display: none;
}
/* @media screen and (max-width: 1100px) {
    .login__btn{
        display: none;
    }
    .header__section{
        padding-left: 2rem;
        padding-right: 2rem;
    }

} */
@media screen and (max-width: 1100px) {
    .header__section{
        padding: 0.4rem 1rem;
    }
    .nav__bar{
        display: none;
    }
    .login__btn{
        display: block;
        font-size: 1.1rem;
        padding: 0.4rem 0.6rem;
    }
    .menu__icon{
        display: block;
    }
    .getstarted__btn{
        display: none;
    }
}